
/*navbar*/
.navbar {
  position: relative;
  display: flex;
  justify-content: center;
  background-image: url(https://images.unsplash.com/photo-1599488059966-a42a2ab36991?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTUwfHxib29rc3xlbnwwfDB8MHx8fDA%3D);
  color: white;
  padding: 15px 0px 25px 0px;
}

.navbar-brand {
  font-size: 1.4em;
}

.material-symbols-outlined {
  font-size: 1.4em;
}

.navLR {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  font-family: 'Satoshi', sans-serif;
  overflow: hidden;
  margin:0 0 0px 20px;
  color: #090909;
  padding: 0.4em 4em;
  font-size: .9em;
  border-radius: 1em;
  background: teal;
  color: white !important;
  box-shadow: 6px 6px 12px #201f1f,
             5px 5px 12px #ffffff;

}

.navbar .navLR {
  color: white;
  padding: 10px;
}

.navLR:active {
  color: black;
  box-shadow: inset 4px 4px 12px #c5c5c5,
             inset -4px -4px 12px #ffffff;
}

.navLR:hover {
  background-color: white !important;
  color: teal !important;
}

/* this code makes the css changes but you lose the dropdown*/
#dropdown07 {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  font-family: 'Satoshi', sans-serif;
  margin: 10px 0 0 20px;
  color: #090909;
  padding: .5em 1.5em;
  font-size: .9em;
  border-radius: 1em;
  background: teal;
  color: white !important;
  box-shadow: 6px 6px 12px #201f1f,
             5px 5px 12px #ffffff;
} 

#dropdown07:hover {
    background-color: white;
  color: teal !important;
  border: 1px white;
}

#dropdown06 {
  display:none;
}

  #navRegister.nav-link,
  #navSignin.nav-link {
    margin-top: 10px;
    padding: .5em 1.5em;
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .hidden {
  display: none;
}

#addBookLink {
  margin-left: 10px;
}

@media only screen and (max-width: 1023px) {
  #bookNookContainer {
    margin-left: 20px;
  }
}


@media only screen and (min-width: 1024px) {
 
.navbar {
  position: relative;
  display: flex;
  justify-content: center;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 6px 20px, rgba(0, 0, 0, 0.35) 0px -8px 10px -1px inset,  0px 10px 10px inset rgba(0, 0, 0, .8);
}

/*navbar background */
.navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1599488059966-a42a2ab36991?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTUwfHxib29rc3xlbnwwfDB8MHx8fDA%3D);
  filter: grayscale(90%) blur(1.3px);
  opacity: 0.9;
  transition: filter .8s ease, opacity .8s ease;
  z-index: 0;
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .2);
}

/*navbar hover effect */
.navbar:hover::before {
  filter: none;
  opacity: 1;
  transition: filter .8s ease, opacity .8s ease;
  z-index: 0;
}

/*remove grayscale and blur on hover */
.navbar:hover {
  filter: none;
}

/*contents inside the navbar */
.navbar-brand,
.navbar-nav {
  position: relative;
  z-index: 2;
}

/*navbar links styling */
.navbar-nav a {
  color: black;
  transition: color 0.5s ease;
  margin-bottom: 10px;
}

}