.form-register {
  width: 100%;
  max-width: 330px;
  padding: 160px 0px 100px 0px;
  margin: auto;
}
.form-register .checkbox {
  font-weight: 400;
}
.form-register .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-register .form-control:focus {
  z-index: 2;
}
.form-register input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-register input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#regBtn {
      display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  font-family: 'Satoshi', sans-serif;
  overflow: hidden;
  color: #090909;
  padding: 0.4em 4em;
  font-size: 16px;
  border-radius: 1em;
  background: teal;
  color: white;
  box-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff;
}

#regBtn:hover {
  background-color: white;
  color: teal;
  border: 1px white;
}

.serverMessage {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  border-radius: 5px;
}

.exclamation-circle {
  width: 24px;
  height: 24px;
  background-color: white;
  border: 2px solid red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}